.nav-menu {
    padding-right: 8vw;
    font-size: 0.8rem;
}

.nav-menu-list {
    display: flex;
    background-color: rgb(215, 128, 26);
    padding: 3px 3px 5px 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-menu-list__item {
    padding-right: 10px;
}

.nav-menu-list__link {
    transition: color 0.08s linear;
    color: #f2f2f2;
}

.nav-menu-list__link:hover{
    color: #1f1f1f;
}

.nav-menu-list__item i {
    font-size: 0.75rem;
    padding-right: 3px;
}