.main-nav {
    padding-left: 6vw;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav__list {
    display: flex;
}

.main-nav__item {
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px solid #999999;
}

.main-nav__item:first-child {
    border-left: none;
}

.main-nav__link {
    color: rgb(92, 54, 10);
}

.main-nav__link:hover {
    text-decoration-line: underline;
}

.main-nav__link_current {
    text-decoration-line: underline;
    font-weight: 600;
}