@media only screen and (max-width: 472px) {
    .main-nav {
        font-size: 0.8rem;
    }
    .main-nav__item {
        padding-right: 7px;
        padding-left: 7px;
    }
}

@media only screen and (max-width: 410px) {
    .main-nav {
        padding-left: 2vw;
    }
}