.search {
    padding-right: 5vw;
}

.search__input-text {
    padding: 6px 2px 6px 10px;
    border: 1px solid rgb(168, 99, 20);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0px 0px 6px 0px rgb(129, 75, 14);
}

.search__button-find {
    margin-left: -5px;
    padding: 8px 10px 8px 10px;
    background-color: rgb(129, 75, 14);
    color: #f2f2f2;
    font-size: 0.7rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: filter 0.06s linear;
}

.search__button-find:hover {
    filter: brightness(90%);
}

