.sidebar {
    padding: 15px 15px 0 15px;
    border-top: 1px solid #b1b1b1;
}

.sidebar-content {
    background-color: #e7e5e5;
    padding: 15px 12px 0 12px;
    border-radius: 7px;
}

.sidebar-about-me__title {
    margin-bottom: 8px;
}

.description-picture {
    margin-bottom: 12px;
}

.description-picture__img {
    background-color: #f2f2f2;
    width: 100px;
    border: 4px solid rgb(129, 79, 22);
    border-top-width: 9px;
    border-bottom-width: 1px;
    border-radius: 10px;
    vertical-align:bottom;
}

.about-me-description {
    display: flex;
    padding-bottom: 10px;
}

.description-text {
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description-text__name {
    margin-bottom: 4px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1rem;
    color: #1f1f1f;
}

.description-text__about-me {
    color: #525252;
}

.sidebar-categories {
    padding: 8px 0 8px 0;
}

.sidebar-entries {
    padding: 8px 0 8px 0;
}

.sidebar-categories__title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar-entries__title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.categories-list {
    padding-left: 10px;
    padding-right: 10px;
}

.categories-list__item {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #888888;
}

.categories-list__link {
    font-size: 0.9rem;
    color: #2b2b2b;
}

.categories-list__link:hover {
    opacity: 0.8;
}

.entries-list {
    padding-left: 10px;
    padding-right: 10px;
}

.entries-list__item {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #888888;
}

.entries-list__link {
    font-size: 0.9rem;
    color: #2b2b2b;
}

.entries-list__link:hover {
    opacity: 0.8;
}

.burger-mobile-menu {
    display: none;
}

.burger-check {
    display: none;
}

#burger:checked ~ .sidebar{
    display: block;
}
