.article {
    padding-top: 15px;
    padding-left: 15px;
    width: 60vw;
    border-bottom: 1px solid #d6d6d6;
}

.article_new {
    background-color: #e7e5e5;
    position: relative;
    overflow: hidden;
    border-bottom: none;
}

.article__mark-new-article {
    position: absolute;
    top: 12px;
    right: -30px;
    transform: rotate(45deg);
    background-color: rgb(129, 79, 22);
    color: #f2f2f2;
    padding: 7px 40px 7px 40px;
    cursor: default;
    user-select: none;
}


.article_new:before {
	content:"";
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-style: solid;
	border-width: 0 0 40px 40px;
	border-color: #fff #fff #fff rgb(209, 209, 209);
}

.article__title {
    font-size: 1.1rem;
    color: rgb(150, 90, 22);
    padding-bottom: 15px;
}

.article__content.content {
    display: flex;
    padding-bottom: 30px;
}

.article-picture {
    width: 155px;
    border: 4px solid #f2f2f2;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 0px #e7e5e5;
}

.article-summary {
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.article-summary__text {
    margin-top: 4px;
}

.article-summary__button-more {
    margin-top: 10px;
    margin-right: 50px;
    background-color: rgb(238, 156, 63);
    color: #f2f2f2;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
    border: 1px solid rgb(235, 146, 44);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px rgb(190, 112, 22);
}