@media only screen and (max-width: 1024px) {
    .article {
        width: 65vw;
    }
}

@media only screen and (max-width: 768px) {
    .article {
        width: auto;
    }
}

@media only screen and (max-width: 472px) {
    .article__content.content {
        flex-direction: column;
        align-items: center;
    }

    .article-picture {
        width: 180px;
    }
}

@media only screen and (max-width: 380px) {
    .article-picture {
        width: 140px;
    }
}